# Python
venv/
env/
*.pyc
__pycache__/
*.sqlite3
*.db
.env
.pytest_cache/
.coverage
htmlcov/

# Node.js / React
frontend/node_modules/
frontend/dist/
frontend/.env
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Django
db.sqlite3
media/
staticfiles/

# Логи
logs/
*.log
